
.shadow-container{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.container{
    width: 1100px;
    background-color: #FEFEFE;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    clip-path: inset(0 0 0 0 round 10px);
}

.left{
    flex: 3;
    display: flex;
    gap: -1px;
    flex-direction: column;
}

.right{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-family: var(--font-calligraffitti);
    font-size: 40px;
}

@media (max-width: 960px) {

    .container{
        width: 720px;
    }

    .img{
        width: 500px;
        height: auto;
        object-fit: cover;
    }


}