
.admin-app{
    min-height: 100vh;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.side-navbar{
    height: 100%;
    background-color: blue;
}

.nav-bar-container{
    min-height: 50px;
    background-color: red;
}