.ps-sidebar-root{
    height: 100%;

}

.ps-sidebar-container{
    height: 100%;
    background-color: #14238A !important;
    scrollbar-width: thin;
}

.ps-menuitem-root {
    color: white;
}

.ps-menuitem-root:hover{
    color:black
}

.sub-menu-item{
    color:black
}